*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container{
    border: 5px solid rgb(26, 26, 26);
    background-color: rgb(209, 46, 46);
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-auto-columns: 145px;
    grid-auto-flow: column;
    gap: 20px;
}

.item{
    border: 5px solid rgb(158, 198, 157)
}