*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    border: 5px solid rgb(2, 85, 45);
    background-color: rgb(25, 12, 12);
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-auto-rows: 75px 75px 75px;
    grid-template-areas: 
        "one two two"
        "three three four"
        "five six seven";
    place-content: center;
}

.item{
    font-size: 4rem;
}

.item-1{
    border: 5px solid rgb(2, 85, 45);
    background-color: rgb(131, 209, 234);
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-area: one;
}

.item-2{
    border: 5px solid rgb(2, 85, 45);
    background-color: rgb(2, 70, 93);
    /* grid-row: 2 / 4; */
    grid-area: two;

}

.item-3{
    border: 5px solid rgb(2, 85, 45);
    background-color: rgb(1, 31, 41);
    /* grid-area: 2 / 2 /4/4; */
    grid-area: three;
}

.item-4{
    border: 5px solid rgb(2, 85, 45);
    background-color: rgb(131, 209, 234);
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-area: four;
}

.item-5{
    border: 5px solid rgb(2, 85, 45);
    background-color: rgb(2, 70, 93);
    /* grid-row: 2 / 4; */
    grid-area: five;

}

.item-6{
    border: 5px solid rgb(2, 85, 45);
    background-color: rgb(2, 70, 93);
    /* grid-area: 2 / 2 /4/4; */
    grid-area: six;
}

.item-7{
    border: 5px solid rgb(2, 85, 45);
    background-color: rgb(1, 31, 41);
    /* grid-area: 2 / 2 /4/4; */
    grid-area: seven;
}